<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.doan.quizapp">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:icon="@drawable/doglogo"
        android:label="Quiz Application"
        android:roundIcon="@drawable/doglogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar.Fullscreen">
        <activity
            android:name=".QuizRegister"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".QuizLogin"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".QuizDashboard"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TestResult"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".QuizTest"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LoadingQuestions"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LoadingLevel"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".QuizRank"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Instruction"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Information"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LessonsMenu"
            android:screenOrientation="portrait"/>
        <activity
        android:name=".LessonsGrammar"
        android:screenOrientation="portrait"/>
        <activity
            android:name=".LessonsVocabulary"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LessonsSpeaking"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LessonsTrick"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LoadingWelcome"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>